html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;

}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
    /*line-height: 1.5;*/
    background-color: #35424a;
    border-bottom: 2px blue solid;

    /*flex-wrap: wrap;*/
}

.logo-place {
    flex: 1;
    /*border: dotted;*/
    /*height: 180px;*/
    text-align: center;
    color: white;
}
.logo-place a{
    text-decoration: none;
    color: white
}


.logo img {}

.nav-links {

    display: flex;
    /*     align-items:flex-end;*/
    flex: 2;
    justify-content: space-between;
    /*border: dotted;*/
    padding: 1em;
    /*flex-wrap: wrap;*/

}

.nav-links a {
    line-height: 4em;
    /*border: 1px solid red;*/
    border-radius: 5px;
    /* background-color: red;*/
    color: white;
    width: 7em;
    text-align: center;
    margin: auto;

    text-decoration: none;
}

.nav-links a:hover {
    /*border: 1px inset white;*/
    background-color: gold;   
}
/*.nav-links a:active{
    -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(180deg);
    transition: .5s;
}*/

.heading-info {
    display: flex;
    width: 80%;
    margin: auto;
   /* border: 1px solid red;*/
    /* margin-bottom: 2em;*/
    
}

.heading-logo {
    flex: 1;
    /*border: 1px solid blue;*/
}

.heading-logo img {
    width: 100%;
    height: 300px;
}

.heading-disc {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    flex: 2;
    text-align: center;
    
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 0;
}

.footerup {
    background-color: #35424a;
    color: lightgray;
}

.footer-upper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    /*text-align: center;*/
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.footer-upper-1 {
    flex: 1;

}

.footer-upper-2 {
    flex: 1;


}

.footer-upper-2 ul {
    list-style: none;
    padding-left: 10em;
}
.footer-upper-2 ul li{
    margin: 0.5em;
}

.footer-lower {
    line-height: 2em;
    text-align: center;
    background-color: #B6C9DB;
    color: #1569AE;
}


/*============================== image slider code starts here*/

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
    height: 300px;
    width: 100%;
    margin: auto;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    height: 650px;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

/*=============================="services" code starts here*/

.call-outs-container {
    /*max-width: 1400px;*/
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}

@media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }
}

.call-out:nth-child(1) {
    background-color: #c0dbe2;
}

.call-out:nth-child(2) {
    background-color: #cdf1c3;
}

.call-out:nth-child(3) {
    background-color: #ccb9da;
}

.call-out:nth-child(4) {
    background-color: red;
}

.call-out:nth-child(5) {
    background-color: blue;
}
.call-out:nth-child(6) {
    background-color: lightblue;
}


/*============================*/

@media screen and (max-width : 1024px){
    body{
/*background-color: red;*/
    
    }
    .nav-bar{
        flex-wrap: wrap;
    }
    .nav-links{
       
    }
    .nav-links a{
        
    
    }
    
    .footer-upper-2 ul{
        padding-left: 3em;
    }
    
}

@media screen and (max-width : 768px){
    body{
       /* background-color: aqua;*/
    }
    header{
        width: 100%;
    }
    .nav-bar{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    .heading-logo{
        display: none;
    }
    .footer-upper{
        flex-direction: column;
    }
    .footer-upper-2 ul{
        padding-left: 0;
        padding-top: 5px;
        border-top: 1px solid black;
    }
}